/*Navbar style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    overflow: hidden;
    background: black;
    margin-top: -5px;
}

.logo {
    width: 2px;
}

.navbar a {
    float: left;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px 16px;
    font-size: 14px;
    width: 100px;

}

.list a:hover {
    background: gray;
    color: #fff;
    background-size: cover;
}

/*sign in button*/
.login button {
    margin-left: 140vh;
    width: 6%;
    text-align: middle;
    height: 60px;
    margin-top: 10px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid rgb(80, 0, 172);
    background-color: rgb(140, 0, 255);
    color: #fff;
    cursor: pointer;
    position: right;
    overflow: hidden;
}

/*Download button hover animation*/
.download-btn {
    background-color: rgb(0, 77, 155);
    font-family: sans-serif;
    color: white;
    padding: 1rem 2rem;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 5px;
}

.download-btn:hover {
    background-color: rgb(0, 56, 224);
}

.download-btn {
    font-family: sans-serif;
    color: #0000;
    background: linear-gradient(90deg, #ca0000 50%, #000 0) var(--_p, 100%)/200% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    transition: 0.8s;
}

.download-btn:hover {
    --_p: 0%;
}

.button {
    text-align: center;
    justify-content: center;
}

/* Dropdown menu*/
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 15px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .dropbtn {
    background-color: rgb(140, 0, 255);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: rgb(185, 185, 185);
}

.dropdown:hover .dropdown-content {
    display: block;
}